/*Creates line*/
.timeline1,
.timeline2,
.timeline3 {
  width: 100%;
  height: 20px;
  padding: 40px;
  text-align: justify;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 45%,
    rgba(0, 0, 0, 1) 51%,
    rgba(255, 255, 255, 0) 57%,
    rgba(255, 255, 255, 0) 100%
  );
}

.timeline1:after,
.timeline2:after,
.timeline3:after {
  display: inline-block;
  content: "";
  width: 100%;
}

.hide {
  display: none;
}

.hover:hover + .hide {
  display: block;
  border: 4px inset #77f2a1;
  border-radius: 14px;
  padding: 0.5em;
  width: 50%;
  position: absolute;
}

img {
  width: 40px;
  transform: translateY(-25px);
}

.whole {
  background-color: white;
  padding: 5px 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.timeline1 .hide {
  margin: 170px 5%;
}

.timeline2 .hide {
  margin: 90px 5%;
}

.timeline3 .hide {
  margin: 10px 5%;
}

.timelineTitle {
  color: black;
}

.timelineInfo {
  padding-left: 10px;
  color: black;
  font-size: 15px;
}

.yearText {
  color: black;
  font-size: 15px;
  position: absolute;
  transform: translateY(-42px);
}
